<launch>
    <arg name="name_space" default="kmr_iiwa/whole_body_controller/base"/>
    <rosparam command="load" ns="kmr_iiwa" file="$(find base_controller)/config/base_controller_kmr_iiwa.yaml" />
    <node pkg="base_controller" type="base_controller.py" name="base_controller" output="screen">
        <remap from="~/cmd_vel" to="/base_controller/command"/>
 	    <remap from="/base/joint_states" to="/kmr_iiwa/base/joint_states"/> 
        <param name="name_space" value="$(arg name_space)"/>
    </node>
</launch>